
.ProfileBtn {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 4em;
    width: 4em;
    outline: none;
    background: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .ProfileBtn:hover {
    background: #ffffffaa;
  }
  
  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    height: 50vh;
    margin: 1em;
   
  }

  .card1 {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 1em;
   
  }